@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<h1>Edit User</h1>
<hr />

<div style="border-radius:5px;background-color:#f2f2f2;padding:40px;">
    <form method="post" class="mt-3">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Id" disabled class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="DisplayName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="DisplayName" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Gender" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Gender" class="form-control">
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-info form-control">Update</button>
                </div>
                <div class="col-2">
                    <a asp-action="Index" class="btn btn-primary form-control">Cancel</a>
                </div>
            </div>
        </div>

        @*<div class="form-group row text-center">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary ">Update</button>
                    <a asp-action="Index" class="btn btn-outline-primary">Cancel</a>
                </div>
            </div>*@

    </form>
</div>

