<!-- Section: form gradient -->
<style>
    .form-gradient .header {
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }

    .form-gradient input[type=text]:focus:not([readonly]) {
        border-bottom: 1px solid #fd9267;
        box-shadow: 0 1px 0 0 #fd9267;
    }

        .form-gradient input[type=text]:focus:not([readonly]) + label {
            color: #4f4f4f;
        }

    .form-gradient textarea.md-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #fd9267;
        box-shadow: 0 1px 0 0 #fd9267;
    }

    .form-gradient .md-form textarea.md-textarea:focus:not([readonly]) + label {
        color: #4f4f4f;
    }
</style>

<div style="border-radius:5px;background-color:#f2f2f2;padding:40px;">
    <section class="form-gradient mb-5">

        <!--Form with header-->
        <div class="card">

            <!--Header-->
            <div class="header peach-gradient">

                <div class="row d-flex justify-content-center">
                    <h3 class="white-text mb-0 py-5 font-weight-bold">Contact Us</h3>
                </div>

            </div>
            <!--Header-->

            <div class="card-body mx-4">

                <div class="md-form">
                    <label for="form104">Your name</label>
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="form104" class="form-control" placeholder="Your name ...">
                </div>

                <div class="md-form">
                    <label for="form105">Your email</label>
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="text" id="form105" class="form-control" placeholder="Your email ...">
                </div>

                <div class="md-form">
                    <label for="form106">Subject</label>
                    <i class="fas fa-tag prefix grey-text"></i>
                    <input type="text" id="form106" class="form-control" placeholder="Subject ...">
                </div>

                <div class="md-form">
                    <label for="form107">Your message</label>
                    <i class="fas fa-pencil-alt prefix grey-text"></i>
                    <textarea id="form107" class="md-textarea form-control" rows="5" placeholder="Your message ..."></textarea>
                </div>


                <!--Grid row-->
                <div class="row d-flex align-items-center mb3 mt-4">

                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-grey btn-rounded z-depth-1a">Send</button>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>

        </div>
        <!--/Form with header-->
    </section>
</div>